body
{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom right, #00d0ff, #021a91);
  color: #ffffff;
}

/* NAVBAR */
.navbar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #021a91;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.navbar a
{
  margin: 10px 16px;
  text-decoration: none;
  color: #ffffff;
}

.login-btn
{
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* HERO */
.hero
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 10%;
}

.hero-text
{
  max-width: 550px;
  text-align: center;
  color: #021a91;
}

.hero h1
{
  font-size: 42px;
}

.hero p
{
  margin: 20px 0;
  color: #ffffff;
}

.secondary-link
{
  display: block;
  margin-top: 10px;
  color: #ffffff;
}

/* FEATURES */
.features
{
  display: flex;
  justify-content: space-around;
  padding: 50px 10%;
}

.card
{
  color:#ffffff;
  background: #021a91;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  width: 30%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.card:hover
{
  transform: translateY(-5px);
}

/* SOCIAL */
.social-proof
{
  text-align: center;
  margin: 40px 0;
}

/* HOW IT WORKS */

.how-it-works
{
  text-align: center;
}

.steps
{
  display: flex;
  
  justify-content: space-around;
  padding: 50px 10%;
}

.step
{
  color:#ffffff;
  background: #021a91;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  width: 30%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  transition: transform 0.2s;
}

.step:hover
{
  transform: translateY(-5px);
}

/* Footer*/
.footer
{
  background-color: #021a91;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  text-align: center;

}

/*            Game Page            */

.page-header
{
  text-align: center;
  padding: 50px 20px;
}

/* GAMES */
.games-container
{
  display: flex;
  justify-content: space-around;
  padding: 40px 10%;
}

.game-card
{
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 30%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.2s;
}

.game-card:hover
{
  transform: translateY(-5px);
}

.game-card button
{
  margin-top: 15px;
}